<div>
  <form method="post">
    <select name="country">
      <option value="0">Choisir une destination</option>
      {% for country in countries %}
      <option value="{{country.id}}">{{country.name}}</option>
      {% endfor %}
    </select>

    <span>Entre le </span>
    <input type="date" name="date_start">

    <span>et le</span>
    <input type="date" name="date_fin">

    <span>Prix max</span>
    <input style="5px;" type="text" name="price">

      <button class="btn btn-primary btn-sm">Rechercher</button>
  </form>

<!-- réponses au formulaire de recherche: affichage des voyages-->
<div class="">
{% if trips %}
  {% if trips | length > 0 %}
    <table class="table table-striped table-bordered">
      <tr>
        <th>Intitulé</th>
        <th>Destination</th>
        <th>Dates</th>
        <th>Prix</th>
      </tr>
    {% for trip in trips %}
    <tr>
      <td>{{trip.getTitle}}</td>
      <td>{{trip.country.getName}}</td>
      <td>
        Du {{trip.getDateStart| date('d/m/Y')}}
        au {{trip.getDateEnd | date('d/m/Y')}}
      </td>
      <td>{{trip.getPrice}} euros</td>

    </tr>
    {% endfor %}
    </table>
  {% endif %}
{% endif %}
</div>


</div>
